<%= form_for @article,:class=>"form-inline " do|f|%>
<div class="form-group">
<%=f.label :title%>
<%=f.text_field :title,:class=>"form-control"%>
</div>
<div class="form-group">
<%=f.label :content%>
<%=f.text_area :content,:class=> "form-control"%>
</div>
<div class="form-group">
<%Category.all.map{|a|[a.id,a.name]}.each do |day|%>
  <%=f.check_box :category_ids, { multiple: true }, day[0],false%>
  <%=f.label day[1]%>
  <%end%>
  <%= link_to "create category",new_category_path%>
</div>
<%=f.button :class=> "btn btn-default"%>
<%end%>
