<%= form_for @article,:class=>"form-inline " do|f|%>
<div class="form-group">
<%=f.label :title%>
<%=f.text_field :title,:class=>"form-control"%>
</div>
<div class="form-group">
<%=f.label :content%>
<%=f.text_area :content,:class=> "form-control"%>
</div>
<div class="form-group">
  <%=f.label :category%>
  <%= f.select :category_ids, options_for_select(Category.all.map{|a|[a.name,a.id]}), {:include_blank => true, :multiple => true, :size =>30,prompt: "select"} %>
  <%#=f.select :category_ids,Category.all,multiple: true%>
  <%= link_to "create category",new_category_path%>
</div>
<%=f.button :class=> "btn btn-default"%>
<%end%>
