<%= form_for @article,:class=>"form-inline " do|f|%>
<div class="form-group">
<%=f.label :title%>
<%=f.text_field :title,:class=>"form-control"%>
</div>
<div class="form-group">
<%=f.label :content%>
<%=f.text_area :content,:class=> "form-control"%>
</div>
<div class="form-group">
  <%=f.label :category%>
  <%=f.collection_select :category_ids,Category.all, :id,:name,prompt: "Please select"%>
  <%= link_to "create category",new_category_path%>
</div>
<%=f.button :class=> "btn btn-default"%>
<%end%>
